@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Poppins:wght@300&display=swap');

body {
    width: 100%;
    margin: 0 auto;
}
header nav{
    background-color: black;
    margin: 0px;
    padding-left: 10%;
}

footer{
    background-color: rgb(235, 115, 199);
    text-align: center;
    padding-top: 8px;
    margin-right: 25%;
    margin-bottom: 10%;
    margin-left: 25%;
    border-radius: 0.5rem;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    transition: all 1.5s linear;
}

footer h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    margin-top: 8%;
    text-shadow: 4%;
    text-decoration: solid;
}

 h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        text-align: center;
        margin-top: 3%;
        text-shadow: 4%;
        text-decoration:solid;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
    margin-left: 6%;
    text-shadow: 4%;
    text-decoration: solid;
}

.first h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    color: rgb(72, 97, 240);
    font-size: 17px;
    text-align: left;
    margin-left: 8%;
    text-shadow: 4%;
    text-decoration: solid;
}

.second h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(3, 3, 3);
    font-size: 17px;
    text-align: left;
    margin-left: 10%;
    text-shadow: 4%;
    text-decoration: solid;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: left;
    margin-left: 6%;
    text-shadow: 4%;
    text-decoration: solid;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(8, 8, 8);
    font-size: 20px;
    text-align: left;
    margin-left: 6%;
    text-shadow: 4%;
    text-decoration: solid;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: black;
}

.logo {
    cursor: pointer;
}



